html {
  height: 100%;
  width: 100%;
}

body {
  min-height: 100vh;
  width: 100%;
  overflow: hidden;
  background-image: url("background.jpg");
  background-attachment: fixed;
}

body::-webkit-scrollbar {
  display: none;
}

a {
  font-size: 14px;
}

form {
  height: 50%;
}

#pre_login {
  position: absolute;
  top: 0vh;
  transition: top 0.25s ease-in-out;
}

#blur_div_css {
  height: 100vh;
  backdrop-filter: blur(15px);
  background-color: rgba(255, 255, 255, 0.75);
}

#post_login_list {
  height: 100vh;

  position: absolute;
  transition: bottom 0.25s ease-in-out;
  bottom: 0vh;
}

#list_header_css {
  height: 17.5vh;
  margin: 0px;
}

#map_header_css {
  height: 17.5vh;
  margin: 0px;
}

#list_cont_css {
  height: 82.5vh;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  box-shadow: 0px 0px 5px 0px #dfe0e1;
  padding: 15px 15px 0px 15px;
  backdrop-filter: blur(15px);
  background-color: rgba(255, 255, 255, 0.75);
}

#list_css {
  max-height: calc(82.5vh - 15px);
  height: calc(82.5vh - 15px);
  width: calc(100% - 30px);
  padding: 7.5px;

  overflow: hidden;
  scrollbar-width: none;
  -ms-overflow-style: none;

  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  box-shadow: inset 0px 0px 12px 3px #dfe0e1;
  background-color: rgba(150, 150, 150, 0.05);

  position: absolute;
  transition: bottom 0.4s ease-in-out;
  bottom: 0vh;
}

#list_css::-webkit-scrollbar {
  display: none;
}

.card {
  max-height: 20vh;
  height: 20vh;
  overflow: hidden;
  box-shadow: 0px 0px 12px 3px #dfe0e1;
  margin: 7.5px;
  border-radius: 10px !important; 
  border:0 !important;
  transition-timing-function: ease-out;
  transition: margin 0.2s;
}

.card-select-delete {
  box-shadow: 0px 0px 12px 3px #ffafaf !important;
  background-color: #ff9b9b !important;
}

.card-select-delete .card-body {
  background: linear-gradient( #212529 65%, #ff9b9b) !important;
  background-clip: text !important;
}

.card:hover {
  cursor: pointer;
  transform: scale(1.02);
}

.card-img {
  max-height: 20vh;
  min-height: 20vh;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px 0px 0px 10px !important;
}

.card-body {
  overflow: hidden;
  height: 17vh;
  background: linear-gradient( #212529 65%, white);
  background-clip: text;
}

.card-text {
  color:transparent !important;
}

#change {
  height: 100%;
  border-radius: 50%;
  border: 0;
  color: #212529;
  background-color: white;
}

.change_div {
  position: absolute;
  width: 7vh;
  height: 7vh;
  border-radius: 50%;
  border: 2px solid #dfe0e1;
  bottom: calc(82.0vh - 45px);
  z-index: 9999;
  transform: scale(1) rotate(180deg);
  transition: bottom 0.4s ease-in-out;
}

.change_div:hover {
  cursor: pointer;
  transform: scale(1.1) rotate(180deg);
}

.change_div.rot-transition:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.rot-transition {
  transition: bottom 0.3s ease-in-out;
  transform: scale(1);
  bottom: -3vh;
}

.map {
  margin: 20px;
}

#map_cont_css {
  height: 82.5vh;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  box-shadow: 0px 0px 5px 0px #dfe0e1;
  padding: 15px 15px 0px 15px;
  backdrop-filter: blur(15px);
  background-color: rgba(255, 255, 255, 0.75);
}

#add_poi {
  margin:0 10px 20px 0;
  padding-left:0;
  padding-right:0;
}

#delete_poi {
  margin:0 10px 20px 10px;
  padding-left:0;
  padding-right:0;
}

#modal_imgs_container {
  padding: 7.5px;
}

.titolo {
  font-size: calc(0.8em + 2.5vw);
  margin-bottom: 15px;
}

#list_log_out {
  margin:0 30px 20px 10px;
  padding-left:0;
  padding-right:0;
}

#map_log_out {
  margin:0 30px 20px 10px;
  padding-left:0;
  padding-right:0;
}

/* Classi per le transizioni */

.top-transition {
  top: -100vh !important;
}

.bottom-transition {
  bottom: -100vh !important;
}


/* animazione se si è già loggati */
.circle {
  opacity: 0;
  width: 50px;
  height: 50px;
  background-color: #0a990a;
  border-radius: 50%;
  position: absolute;
}

.startAnimation {
  opacity: 1;
}

.checkmark {
  width: 100%;
  height: 100%;
}

.circle-background {
  fill: none;
  stroke-width: 2;
  filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.8)); 
}

.check {
  stroke: white;
  stroke-width: 5;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-dasharray: 17 17;
  stroke-dashoffset: 34; 
  animation: drawCheck 2s ease-in-out forwards, fadeOut 1s 2s ease forwards;
}

@keyframes drawCheck {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

/*Per lo zoom del carousel*/

.zoom-carousel {
  height:30vh;
  width:300px;
}

.zoom-carousel:hover {
  position:absolute !important;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  height:60vh;
  width:70vw;
}